<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <configSections>
      <section name="folders"  type="System.Configuration.DictionarySectionHandler"/>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="QToolbar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
   </configSections>
   <folders>
      <add key="MyDocs" value="E:\My\Docs" />
   </folders>
   
  <appSettings>
    <add key="TestingFolder" value="X:\Testing" />
    <add key="DesignersFolder" value="X:\Toolkit Applications\Designers" />
    <add key="QCSAdminFolder" value="X:\Testing\QCS Admin" />
    <add key="QCSAgentFolder" value="X:\Testing\QCS Agent" />    
    <add key="SQLFolder" value="E:\My\Database Scripts" />
    <add key="ExecutorConfiguratorFolder" value="X:\Toolkit Applications\ExecutorConfiguration" />
    <add key="DatabaseScripterFolder" value="X:\Toolkit Applications\Script Database" />
    <add key="FieldsExplorerFolder" value="X:\Toolkit Applications\Field Explorer" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <QToolbar.Properties.Settings>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>606, 132</value>
      </setting>
    </QToolbar.Properties.Settings>
  </userSettings>
</configuration>