<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QToolbar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <QToolbar.Properties.Settings>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>606, 132</value>
      </setting>
      <setting name="TestingFolder" serializeAs="String">
        <value>X:\Testing</value>
      </setting>
      <setting name="DesignersFolder" serializeAs="String">
        <value>X:\Toolkit Applications\Designers</value>
      </setting>
      <setting name="QCSAdminFolder" serializeAs="String">
        <value>X:\Testing\QCS Admin</value>
      </setting>
      <setting name="QCSAgentFolder" serializeAs="String">
        <value>X:\Testing\QCS Agent</value>
      </setting>
      <setting name="SQLFolder" serializeAs="String">
        <value>E:\My\Database Scripts</value>
      </setting>
      <setting name="ExecutorConfiguratorFolder" serializeAs="String">
        <value>X:\Toolkit Applications\ExecutorConfiguration</value>
      </setting>
      <setting name="DatabaseScripterFolder" serializeAs="String">
        <value>X:\Toolkit Applications\Script Database</value>
      </setting>
      <setting name="FieldsExplorerFolder" serializeAs="String">
        <value>X:\Toolkit Applications\Field Explorer</value>
      </setting>
      <setting name="Folders" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>c:\</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="EnvironmentsConfigurationFolder" serializeAs="String">
        <value>X:\Toolkit Applications\Internal Deployment Tool\Configuration</value>
      </setting>
      <setting name="Checkouts" serializeAs="String">
        <value />
      </setting>
      <setting name="InternalBuildsFolder" serializeAs="String">
        <value>\\Q-SRV-INTTFSB\InternalBuilds</value>
      </setting>
      <setting name="ShellCommands" serializeAs="String">
        <value />
      </setting>
      <setting name="LegalLinks" serializeAs="String">
        <value>&lt;DocumentElement&gt;
  &lt;table&gt;
    &lt;Name&gt;v.6.11&lt;/Name&gt;
    &lt;Command&gt;http://q-srv-w2k12r2:8804/QCLegalApplicationApp/&lt;/Command&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Name&gt;v.7.2&lt;/Name&gt;
    &lt;Command&gt;http://q-srv-w2k12r2:8807/QCLegalApplicationApp/&lt;/Command&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Name&gt;v.7.3&lt;/Name&gt;
    &lt;Command&gt;http://q-srv-w2k12r2:8800/QCLegalApplicationApp/&lt;/Command&gt;
  &lt;/table&gt;
&lt;/DocumentElement&gt;</value>
      </setting>
      <setting name="SQLQueries" serializeAs="String">
        <value>&lt;DocumentElement&gt;
  &lt;table&gt;
    &lt;Name&gt;Flag 'ENABLE_EOD_MONITOR_AND_ALERTS'&lt;/Name&gt;
    &lt;SQL&gt;SELECT * FROM AT_SYSTEM_PARAMS WHERE SPRA_TYPE='ENABLE_EOD_MONITOR_AND_ALERTS'&lt;/SQL&gt;
    &lt;RunImmediate&gt;true&lt;/RunImmediate&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Name&gt;Get Database Versions&lt;/Name&gt;
    &lt;SQL&gt;SELECT * FROM TLK_DATABASE_VERSIONS ORDER BY 1 DESC&lt;/SQL&gt;
    &lt;RunImmediate&gt;true&lt;/RunImmediate&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Name&gt;Get Enterprises&lt;/Name&gt;
    &lt;SQL&gt;select * from enterprises&lt;/SQL&gt;
    &lt;RunImmediate&gt;true&lt;/RunImmediate&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Name&gt;Get Installations&lt;/Name&gt;
    &lt;SQL&gt;SELECT * FROM AT_INSTALLATIONS&lt;/SQL&gt;
    &lt;RunImmediate&gt;true&lt;/RunImmediate&gt;
  &lt;/table&gt;
&lt;/DocumentElement&gt;</value>
      </setting>
      <setting name="ClearLegalMetadata" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnvCFs" serializeAs="String">
        <value>&lt;DocumentElement&gt;
  &lt;table&gt;
    &lt;Repository&gt;PROTEUS&lt;/Repository&gt;
    &lt;Path&gt;QC.WebCollection.WebServices\qbc.cf&lt;/Path&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Repository&gt;PROTEUS&lt;/Repository&gt;
    &lt;Path&gt;QCS.BackOffice.WebServices\qbc.cf&lt;/Path&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Repository&gt;PROTEUS&lt;/Repository&gt;
    &lt;Path&gt;SCToolkit2.Designers.Client.WPF\qbc.cf&lt;/Path&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Repository&gt;PROTEUS&lt;/Repository&gt;
    &lt;Path&gt;SCToolkit2.Designers.WebServices\qbc.cf&lt;/Path&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Repository&gt;PROTEUS&lt;/Repository&gt;
    &lt;Path&gt;SCToolkit2.WebServices\qbc.cf&lt;/Path&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Repository&gt;QC&lt;/Repository&gt;
    &lt;Path&gt;VS Projects\CollectionAgentSystem\CollectionAgentSystemClient.BranchUI\qbc.cf&lt;/Path&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Repository&gt;QC&lt;/Repository&gt;
    &lt;Path&gt;VS Projects\CollectionAgentSystem\CollectionAgentSystemClient\qbc.cf&lt;/Path&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Repository&gt;QC&lt;/Repository&gt;
    &lt;Path&gt;VS Projects\QC.DataArchive\QC.DataArchive.Client\QC_DataArchive.cf&lt;/Path&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Repository&gt;QC&lt;/Repository&gt;
    &lt;Path&gt;VS Projects\QCS\MicroQCClient\qbc_admin.cf&lt;/Path&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Repository&gt;QC&lt;/Repository&gt;
    &lt;Path&gt;VS Projects\QCS\QCSClient\qbc_admin.cf&lt;/Path&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Repository&gt;QC&lt;/Repository&gt;
    &lt;Path&gt;VS Projects\QCS\QCSWS\qbc.cf&lt;/Path&gt;
  &lt;/table&gt;
  &lt;table&gt;
    &lt;Repository&gt;QC&lt;/Repository&gt;
    &lt;Path&gt;VS Projects\SCToolkit\SCToolkitWS\qbc.cf&lt;/Path&gt;
  &lt;/table&gt;
&lt;/DocumentElement&gt;</value>
      </setting>
      <setting name="QCWebServers" serializeAs="String">
        <value>Q-SRV-SQL2K12</value>
      </setting>
      <setting name="DevSQLInstances" serializeAs="String">
        <value>Q-SRV-DEVEL12,Q-SRV-DEVEL12\MSSQL2K16</value>
      </setting>
    </QToolbar.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>